 *::before, *::after {
  box-sizing: border-box;
  user-select: none;
}

body {
  margin: 0;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.world {
  overflow: hidden;
  position: relative;
  font-family: 'Righteous', cursive;
}

.score {
  z-index:998;
  color: white;
  position: absolute;
  font-size: 44px;
  right: 3vmin;
  top: 1vmin;
}

.start-screen {
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  z-index:999;
  font-size: 38px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display : flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.hide {
  display: none;
}

.ground {
  --left: 0;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: calc(var(--left) * 1%)
}

.cat {
  --bottom: 7;
  position: absolute;
  left: 5%;
  height: 13%;
  bottom: calc(var(--bottom) * 1%);
}

.ghost {
  --left : 100;
  position: absolute;
  left: calc(var(--left) * 1%);
  height: 21%;
  bottom : 7%;
}
